:root{
    --white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
}
@font-face {
    font-family: "young-serif";
    src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf");
}
@font-face {
    font-family: "outfit";
    src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf");
}
*{
    font-family: "young-serif";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--stone-100);
}
main{
    background: var(--white);
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin-block: 20px;
    padding: 20px;
    border-radius: 20px;
    gap: 50px;
}
main figure{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
main figure img{
    width: 100%;
    border-radius: 20px;
}
main figure h1{
    font-size: 2.5rem;
}
main figure p{
    color: var(--stone-600);
    font-size: 16px;
    font-family: "outfit" !important;
}
/* preparation */
.preparation{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.preparation *{
    font-family: "outfit" !important;
}
.preparation h3{
    color: var(--rose-800);
    font-weight: 600;
    margin-bottom: 20px;
}
.preparation ul{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    gap: 10px;
}
.preparation ul li{
    list-style-position: inside;
    color: var(--stone-600);
}
.preparation ul li strong{
    padding-left: 10px;
}

/* Ingredients */

.title{
    color: var(--brown-800);
    font-weight: 400;
    font-size: 1.7rem;
}
.list{
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.list li,.list li strong{
    color: var(--stone-600);
    font-family: "outfit" !important;
    font-size: 16px;
}
br{
    border: 0.5px;
    border-color: var(--stone-600);
}
.nutrition{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.nutrition p{
    font-family: "outfit";
    font-size: 16px;
}
.nutrition table *{
    font-family: "outfit";
}
table{
    border-collapse: collapse;
    margin-bottom: 20px;
}
table td{
    padding: 10px 30px;
    border-bottom: 0.5px solid var(--stone-150);
}
table tr td:nth-child(1){
    color: var(--stone-600);
}
table tr td:nth-child(2){
    color: var(--brown-800);
    font-weight: 600;
}